.toolbar {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	padding: 8px 16px;
	box-sizing: border-box;
	.flex {
		flex: 1;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		.el-button-group {
			margin-right: 16px;
		}
	}
}

.button-list_column {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 8px;
	padding: 8px 0;
	.el-button {
		margin-left: 0;
	}
}

.preview-model {
	height: 64vh;
	overflow-y: auto;
}
